.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.section {
  padding: 4rem 0;
  text-align: center;
}

.movies__grid {
  display: flex;
  justify-content: center;
  gap: 30px; 
  flex-wrap: wrap;
  padding: 40px 0;
}